/*********TAG SELECTOR*********/

body {
	background-color: #393e46;
	color: #eeeeee;
}



hr {
	border-style: dotted none none;
	border-color: grey;
	border-width: 5px;
	width: 5%;
}


/*********CLASS SELECTOR*********/

.header {
	background-color: #232931;
	color: #eeeeee;
}

.header h1 {
	color: #d2f5e3;
}

.profilePic {
	width: 200px;
	height: 200px;
}

.workExperience h2 {
	color: #d2f5e3;
}

.workExperience h4 {
	color: #9ac5b0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.workExperience p {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.skills h2{
	color: #d2f5e3;
}

.education h2{
	color: #d2f5e3;
}

.education h4 {
	color: #9ac5b0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.education p {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
/**********ID SELECTOR**********/